<header class="header">
  <div class="header-logo">
    {{#link-to 'application' class="header-logo-link"}}
      <h1 class="header-logo-heading">Tempo</h1>
    {{/link-to}}
  </div>

  <nav class="nav">
    <li class="nav-item">
      {{link-to "Users" "users" class="nav-item-link"}}
    </li>
    {{#if session.currentUser}}
      <li class="nav-item">
        Welcome {{session.currentUser.firstName}}!
      </li>
      <li class="nav-item">
        {{link-to 'Account' 'account.index' class="nav-item-link"}}
      </li>
      <li class="nav-item">
        <a href="#" {{action 'logout'}}>Logout</a>
      </li>
    {{else}}
      <li class="nav-item">
        {{link-to "Login" "login" class="nav-item-link"}}
      </li>
      <li class="nav-item">
        {{link-to 'Sign Up' 'signup' class="nav-item-link"}}
      </li>
    {{/if}}
  </nav>
</header>

<div class="flash_messages">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>

{{outlet}}
