<form {{action 'onSubmit' on="submit"}}>
  <div class="field">
    <label for="name">Project Name</label>
    {{input value=project.name}}
  </div>

  <div class="field">
    <label for="description">Description</label>
    {{textarea value=project.description cols="40" rows="8"}}
  </div>

  <div class="field">
    <label for="users">Users</label>
    {{#power-select-multiple
      options=users
      selected=project.users
      placeholder='Select some users...'
      onchange=(action (mut project.users))
      as |user|
    }}
      {{user.fullName}}
    {{/power-select-multiple}}
  </div>

  <button type="submit">Save</button>
  <button {{action 'onCancel'}}>Cancel</button>
</form>
